@font-face {
    font-family: digital-clock-font;
    src: url(https://fonts.googleapis.co>);
}

.calc_body {
    background-color: #2C3E50;
}

#calc_name {
    text-align: right;
}

#calc_display {
    background-color: #ECF0F1;
    text-align: right;
    border-style: inset;
    font-family: digital-clock-font;
}

.button {
    display: block;
}