@font-face {
    font-family: digital-clock-font;
    src: url(https://fonts.googleapis.co>);
}

.calc_body {
    background-color: #2a2c2e;
    border-style: outset;
    border-color: black;
}

#calc_name {
    text-align: right;
}

#calc_display {
    background-color: #edf3f5;
    text-align: right;
    border-style: inset;
    font-family: digital-clock-font;
    margin-top: 10px;
    border-color: black;
}

.button_pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-color: silver;
    padding-top: 30px;
}